.App-logo {
    height: 18vh;
    margin: 2rem 1rem .5rem 1rem;
    pointer-events: none;
}

.ds-border {
    background-color: rgb(255, 255, 255);
}

.form-container {
    min-height: 50vh;
    margin: 0 1rem 2rem 1rem;
    background-color: var(--whitesmoke);
}

.contact-info {
    min-height: 20vh;    
    color: var(--green);
    font-weight: 600;
    font-size: calc(12px + .5vmin);
}

.contact-flex {
    display: flex;
    justify-content: center;
    margin: 0 .5rem 2rem 1.5rem;
    text-align: left;
}

.logo {
    height: 34px;
    padding: 1px;
}

.logo:hover {
    border-radius: 50%;
    background-color: var(--green-secondary);
}

.copyable {
    cursor: copy;
}

.grow2 {
    flex-grow: 2;
}

.hashtag {
    font-weight: 700;
    font-size: calc(14px + .5vmin);
    word-spacing: .5rem;
}

.header-menu {
    background-color: var(--primary-background);
    border-bottom: 2px solid var(--grey);
}

.dashboard-container {
    display: flex;
    height: calc(100vh - 70px);
}

.left-container {
    width: 37vw;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--grey);
    border-right: 1px solid var(--grey);
    overflow-y: auto;
}

.transparent {
    background-color: transparent;
}

.search-input {
    width: 30vw;
}

.room-pict {
    border-radius: 50%;
    background-color: var(--secondary-background);
}

.room-title {
    text-align: left;
    width: 24vw;
}

.room-unread {
    background-color: var(--whitesmoke);
    color: var(--dark-font);
    height: 20px;
    width: 24px;
    border-radius: 6px;

}

.room-search {
    margin-left: auto;
}

.room-preview-box {
    height: 4rem;
    padding: 5px;
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
}

.room-preview-box:hover {
    background-color: var(--main-background);
}

.chat-container {
    padding: 1rem 0;
    width: 63vw;
    height: 90vh;
    background-color: var(--main-background);
}

.chatbox {
    text-align: left;
    height: 3rem;
}

.chat-username {
    font-weight: 600;
    color: var(--secondary-background);
}

.chat-content {
    width: 50vw;
    height: fit-content;
}

.texting-box {
    border-top: 2px solid var(--grey);
    position: fixed;
    bottom: 16px;
    width: 100%;
    height: fit-content;
    max-height: 180px;
    background-color: var(--main-background);
}

.texting-input {
    min-width: 50vw;
}
