.App-logo {
    height: 18vh;
    margin: 2rem 1rem .5rem 1rem;
    pointer-events: none;
}

.ds-flow {
    flex-direction: column;
    align-items: center;
    /* max-width: 550px; */
}

.main-section {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    width: 100vw;
    max-width: 700px;
    background-image: url('../../assets/img/countries.png');
    background-repeat: no-repeat;
    background-position: 0vw 30vh;
    background-size: 650px;
}

.login-form-container {
    min-height: 40vh;
    text-align: center;
    width: 100%;
    max-width: 360px;
    backdrop-filter: blur(32px);
    border-color: var(--skyblue-soft);
}

.contact-info {
    min-height: 20vh;    
    color: var(--green);
    font-weight: 600;
    font-size: calc(12px + .5vmin);
}

.contact-flex {
    display: flex;
    justify-content: center;
    margin: 0 .5rem 2rem 1.5rem;
    text-align: left;
}

.logo {
    height: 26px;
    padding: 4px;
}

.logo:hover {
    border-radius: 50%;
    background-color: var(--blue-tertiary);
}

.copyable {
    cursor: copy;
}

.hashtag {
    font-weight: 700;
    font-size: calc(14px + .5vmin);
    word-spacing: .5rem;
}

#title, #subtitle {
    color: var(--blue-secondary);
}