input[type=text], textarea, select {
    width: 100%;
    padding: 4px 6px;
    display: inline-block;
    border: 1px solid var(--main-border);
    box-sizing: border-box;
    background-color: transparent;
}

.transparent {
    background-color: transparent;
}

.night-mode {
    color: white;
}

.select-selected {
    background-color: green;
}

textarea {
    height: 120px; 
    margin-left: 0;
    padding: 4px 6px;
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary-font);
    opacity: 1; /* Firefox */
}

input[type=number], select {
    width: 100%;
    padding: 4px 6px;
    display: inline-block;
    border: 1px solid var(--main-border);
    box-sizing: border-box;
}

input:focus {
    border: 1px solid var(--main-border);
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary-font);
    opacity: 1; /* Firefox */
}